---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero3 from '~/components/widgets/Hero3.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ContactUs from '~/components/widgets/Contact2.astro';

const metadata = {
  title: 'ABQ Home Buyers - We buy houses in Albuquerque, NM fast for cash!',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- <Hero
    id="contact-us"
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroWind Hero Image' }}
  > -->
  <!-- <Hero
    actions={[
      { text: 'Learn more', variant: 'primary', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'ABQ Home Buyers Hero Image' }}
  >
    <Fragment slot="title">
      We buy houses in Albuquerque!
    </Fragment>

    <Fragment slot="subtitle">
       Sell your house fast for cash in any condition!
    </Fragment>
    <Fragment slot='content'>
      <ContactUs
        id="contact-us"
        title=""
        subtitle=""
        tagline=""
        inputs={[
          {
            type: 'text',
            name: 'name',
            label: 'Name',
          },
          {
            type: 'text',
            name: 'address',
            label: 'Property Address'
          },
          {
            type: 'email',
            name: 'email',
            label: 'Email',
          },
          {
            type: 'tel',
            name: 'phone',
            label: 'Phone Number'
          },
        ]}
        description="Our team will reach out to you within 24 hours."
        button="Get My Fair Cash Offer 💰"
      />
    </Fragment>
  </Hero> -->
  <!-- TODO: extract contact from Hero3 and use content as above, also add back image -->
  <Hero3
    actions={[
      { text: 'Learn more', variant: 'primary', href: '#features' },
    ]}
    image={{ src: '~/assets/images/downtown_background.jpg', alt: 'ABQ Home Buyers Hero Image' }}
  >
    <Fragment slot="title">
      We buy houses in Albuquerque!
    </Fragment>

    <Fragment slot="subtitle">
      Sell your house fast for cash in any condition!
    </Fragment>

  </Hero3>
  <Features2
    id="features"
    title="Sell Your House Fast - In Any Condition!"
    subtitle="Regardless of your situation, we will help get you the most money for your property in the shortest amount of time. We specialize in purchasing houses regardless of their condition or price range, making cash offers. We make it easy to sell your house fast without having to worry about making any repairs."
    tagline=""
    items={[
      {
        title: 'Any Reason',
        description: "Inheritance, Foreclosure, Divorce, Downsizing/Upgrading, Relocation, Bankruptcy",
        icon: 'flat-color-icons:inspection',
      },
      {
        title: 'Any Condition',
        description:
          "New Houses, Old or Outdated Homes, Fire Damage, Termite Damage, Major Repairs needed, Problem Tenants, Unfinished Construction",
        icon: 'flat-color-icons:home',
      },
      {
        title: 'Any Challenge',
        description:
          'Code Violations, Hoarder House, Low Equity, Tax Liens, Late on Mortgage Payments, Title Issues',
        icon: 'flat-color-icons:mind-map',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Steps
    title="Our Process"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Fill Out Our Form</span>',
        description:
          "No commitments. No hassles. Fill out our form with the proper information and our team will reach out to you within 24 hours!",
        icon: 'tabler:pencil',
      },
      // {
      //   title: 'Step 2: <span class="font-medium">Schedule an appointment</em>',
      //   description:
      //     "Using the information provided, we will contact you to setup an appointment to view your house as soon as possible",
      //   icon: 'tabler:calendar-time',
      // },
      {
        title: 'Step 2: <span class="font-medium">Receive Offer</span>',
        description:
          'We will present you with a fair, no obligation offer for your house in completely as-is condition',
        icon: 'tabler:moneybag',
      },
      {
        title: 'Step 3: <span class="font-medium">Close Quickly</span>',
        description:
          'We can close on your time frame with no commissions or closing fees!',
        icon: 'tabler:clock-bolt',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1502005097973-6a7082348e28?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Modern Kitchen image',
    }}
  />

  <Content
    id="test" 
    isReversed
    tagline="About Us"
    title="Who We Are"
    items={[
      {
        title: 'Local',
        description:
          'We are a locally-owned, full service real estate solutions company based in Albuquerque, NM. Our founders were born and raised here in Albuquerque and our focus is on helping our neighbors find win-win solutions to any real estate challenge based on their individual situations.',
      },
      {
        title: "Expert Resource",
        description:
          'We strive to be the best resource for New Mexico residents when it comes to the sale of their property. Our team of professionals is highly experienced in handling complex situations such as foreclosures, back-taxes, liens, probate, divorce, tired-landlord, and other challenging circumstances.',
      },
      {
        title: "Flexible Solution",
        description:
          'We are both real estate investors and licensed New Mexico real estate brokers, so we have the unique flexibility to help a homeowner find the best solution to sell their home fast. When working with us, you can expect full transparency and honest communication throughout the entire process.',
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1612225468547-80ec4aa6b98c?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Albuquerque NE Heights Image',
    }}
  >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features Widget *************** -->

  <Features
    title="Reasons Homeowners Like Working with Us"
    subtitle="An all cash offer and fast close may be right for you"
    items={[
      {
        title: 'Any Condition',
        description:
          'Avoid costly repairs to get your home in selling condition. We will buy it as-is!',
        icon: 'tabler:clipboard-list',
      },
      {
        title: 'Seamless Transaction',
        description:
          'Avoid the headaches and stresses from listing your home to the public. We are experienced and serious cash buyers!',
        icon: 'tabler:rocket',
      },
      {
        title: 'No Fees',
        description:
          'Avoid costly selling fees. There are no commissions and we will pay for all of the closing costs!',
        icon: 'tabler:free-rights',
      },
      {
        title: 'Any Timeline',
        description:
          'We can close as fast or as slow as you would like. You choose the closing date.',
        icon: 'tabler:calendar-dollar',
      },
    ]}
  />

  <FAQs
    title="Frequently Asked Questions"
    subtitle=""
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What types of property do you buy?',
        description:
          "We will consider all types of real estate in Albuquerque and throughout our state. We work with all price ranges and property tpes including single-family homes, condos, townhomes, apartment buildings, commercial properties, vacant lots, and mobile homes.",
      },
      {
        title: 'Is there any obligation when I submit my information?',
        description: "There is zero obligation. After we talk about your property and give you a fair all-cash offer, it is 100% your decision on whether or not you would like to proceed. We won't hassle or harass you!"
      },
      {
        title: "Are there any fees or commissions to work with you?",
        description: "Unlike many iBuyers or large home-buying corporations out there, we will not charge you any fee or commission for selling to us. We will even cover all of the closing costs as an added bonus!"
      },
      {
        title: 'I have a rental that is causing me trouble, how can you help me?',
        description:
          'We are experienced landlords and can handle any deferred maintenance, property damage, junk properties, or tenant headaches you may have. We will even buy properties that have non-paying tenants!',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get My Fair Cash Offer',
        href: '#contact-us',
        icon: 'tabler:moneybag',
      },
    ]}
  >
    <Fragment slot="title">
      Fast Cash Offer For Your House in New Mexico!
    </Fragment>
  </CallToAction>

  <!-- Content Widget **************** -->

  <!-- <Content
    id="test" 
    isReversed
    tagline="Inside template"
    title="AstroWind's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of Astro 4.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
       Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  Content Widget ****************

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->


  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  
</Layout>
